.header__container {
  margin: 0 auto;
}
.back {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: linear-gradient(114.93deg, #618967 5.11%, #72a479 94%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.con {
  display: flex;
  justify-content: center;
}

.boom {
  color: #ffffff;
  display: flex;
  margin-top: auto;
}

.foto {
  max-width: 600px;
}
