$medias: (
  xs: 320px,
  sm: 480px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);

@mixin media($size) {
  @media screen and (min-width: map.get($medias, $size)) {
    @content;
  }
}

@mixin xs {
  @media screen and (min-width: 320px) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
